body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  max-width: 100%;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel {
  /* max-height: 300px; */
  height: 250px;
  overflow: visible;
  display: flex;
  justify-content: center;
}
